#navbar h1 {
    float: none;
    text-align: center;
}

#navbar ul {
    margin-bottom: 1rem;
}

#navbar ul,
#navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: #444 solid 1px;
}

#showcase .showcase-content {
    padding-top: 120px;
}

#home-info .info-img {
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
}

.feature-box {
    float: none;
    width: 100%;
}

#about-info .info-left,
#about-info .info-right {
    float: none;
    width: 100%;
}

#about-info .info-right {
    margin-top: 30px;
}

#contact-info .feature-box {
    border-bottom: #444 solid 1px;
}
